.logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-brand {
    width: 70px;
}

.navbar {
    /* font-family: 'Fredericka the Great', cursive; */
    font-family: 'Rye', cursive;
    }

#logout {
    position: absolute; 
    right: 10px; 
    top: 19px;
}

.username {
    color: red;
    font-size: 10px;
}

.posted {
    font-size:10px;
}


.row.dashboard {
    height: 500px;
    max-height: 500px;
    background-color: aquamarine;
}

.box {
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}