.logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-brand {
    width: 70px;
}

.nav-item {
    font-family: 'Fredericka the Great', cursive;
    }

#logout {
    position: absolute; 
    right: 10px; 
    top: 29px;
}