<div class="container mt-4">
        <div class="col-12 text-center mx-auto">
                <h6>
                <label class="col-3 p-0 m-0 "><i class="fas fa-check-circle text-success opacity round"></i> voted</label>
                <label class="col-4 p-0 m-0"><i class="fas fa-exclamation-circle text-danger opacity round"></i> 2 days</label>
                <label class="col-3 p-0 m-0"><i class="fas fa-minus-circle text-primary opacity round"></i> ended</label>
            </h6>
        </div>
        
    <div id="accordion" class="accordion">
        <div class="row" ng-repeat="upforvote in upforvotes | filter: filterUpforvotes">
            <!--| filter: filterUpforvotes-->
            <div class="card col-10 m-0 p-0 mx-auto border-0 nobg">
                <div class="card-header m-0 p-0 border-0" id="heading{{upforvote.id}}">

                    <button type="button" class="collapsed btn btn-dark w-100 round " data-toggle="collapse"
                        data-target="#upforvoteCollapse{{upforvote.id}}">
                        <h6>
                            <span class="col-1 float-left">
                                <label ng-show="hasVoted[{{upforvote.id}}]" class="m-0 p-0"><i class="fas fa-check-circle text-success"></i></label>
                            </span>
                            <span class="col-1 float-left">
                                <label ng-show="dueDate2Days[{{upforvote.id}}]" class="m-0 p-0"><i class="fas fa-exclamation-circle text-danger"></i></label>
                                <label ng-show="passedDueDate[{{upforvote.id}}]" class="m-0 p-0"><i class="fas fa-minus-circle text-primary"></i></label>
                            </span>
                            <span class="col-7 float-left m-0 p-0 text-left">{{upforvote.title}}</span><span class="col-1 mx-auto float-right"><i
                                    class="fas fa-arrow-up    "></i></span>
                        </h6>
                    </button>
                </div>
                <div id="upforvoteCollapse{{upforvote.id}}" class="collapse col-10 mx-auto" data-parent="#accordion">
                    <div class="card-block mt-2">
                        <article>{{upforvote.details}}
                            <div ng-show="upforvoteURL()">
                                <div class="col-6 float-left">
                                    <h6> Your vote: <span ng-show="hasVoted[{{upforvote.id}}]">
                                            {{checkVoted(upforvote)[0]}}</span></h6>
                                    <span class="mx-auto">
                                        <h6 ng-hide="{{checkDueDate(upforvote)[1]}}">options:
                                            <select ng-model="vote">
                                                <option value="{{option.vote}}" ng-repeat="option in upforvote.options track by $index">
                                                    {{option.vote}}
                                                </option>
                                            </select>
                                            <button type="button" class="btn btn-info btn-sm" ng-click="castVote(upforvote,vote)">Cast
                                                Vote</button>
                                        </h6>
                                    </span>
                                </div>
                                <button type="button" class="btn btn-info col-6 float-right p-0 m-0" data-toggle="modal" id="editDueDate"
                                    data-target="#new-dueDate" ng-click="editDueDate(upforvote)">
                                    <span ng-show="isUserCommittee()" class="posted">Committe can click to change</span><br>
                                    DueDate: {{upforvote.dueDate}}</button>
                                </span>
                            </div>
                            <div ng-hide="upforvoteURL()">
                                <p>DueDate: {{upforvote.dueDate}}</p>
                                <p>Go to Up-For-Vote page for voting</p>
                            </div>
                        </article>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade seminor-login-modal" data-backdrop="static" id="new-dueDate">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body seminor-login-modal-body">
                <h5 class="modal-title text-center">CHANGE UP-FOR-VOTE DUEDATE
                    <button type="button" class="close" data-dismiss="modal">
                        <span><i class="fas fa-times-circle text-info" aria-hidden="true"></i></span>
                    </button>
                </h5>
                <p> Previous DueDate: {{upforvote.dueDate}}</p>
                <form id="newVoteForm">
                    <!-- <div class="form-group">
                        <label class="form-control-placeholder" for="NewDueDate">NewdueDate</label>
                        <input type="text" class="form-control" required autocomplete="off" ng-model="editedDueDate.dueDate">
                    </div> -->
                    <div class="form-group" id="newDueDate">
                            <label class="form-control-placeholder" for="newDueDate">New DueDate</label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                    <input type="text" name="newDueDate" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center col-10 mx-auto">
                        <button type="button" class="btn-check-login w-100 bg-info" ng-click="newUFVDueDate()">CHANGE
                            UP-FOR-VOTE DUEDATE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>