<div class="container mt-5">
    <div id="accordion" class="accordion">
        <div class="row" ng-repeat="upforvote in upforvotes">
            <!--| filter: filterUpforvotes-->

            {{upforvote}}
            <div class="card col-10 m-0 p-0 mx-auto border-0 nobg">
                <div class="card-header m-0 p-0 border-0" id="heading{{upforvote.id}}">

                    <button type="button" class="collapsed btn btn-warning w-100 round" data-toggle="collapse"
                        data-target="#upforvoteCollapse{{upforvote.id}}">
                        <span class="col-9">{{upforvote.title}}</span><span class="col-3 mx-auto float-right"><i class="fas fa-arrow-up    "></i></span>
                    </button>
                </div>
                <div id="upforvoteCollapse{{upforvote.id}}" class="collapse col-10 mx-auto" data-parent="#accordion">
                    <div class="card-block mt-2">
                        <label>{{upforvote.details}}
                            <br>
                            <span class="float-right">
                                <div for="sel1">Vote options:</div>
                                <select ng-model="vote">
                                    <option value="{{option.id}}" ng-repeat="option in upforvote.options track by $index">
                                            {{option.vote}}
                                    </option>
                                </select>
                                <button type="button" class="btn btn-info" ng-click="castVote(vote)">Cast Vote</button>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>