<!-- <navbar-cmunty-mngr></navbar-cmunty-mngr> -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 logo">Community Manager <img src="/images/CommunityManager.png"></h1>
        <p class="lead">Makes life in the community easier to manage</p>
        <hr class="my-2">
        <p>Community Manager will help you with all the related hassle of managing your community.
            Starting from adding all residents, managing issues, voting and other community related subjects.
        </p>
        <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#sem-login">Sign In </a>
        <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#sem-reg">Register </a>
        <!-- The Modal -->
        <div class="modal fade " data-backdrop="static" id="sem-reg">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal body -->
                    <div class="modal-body">
                        <h5 class="modal-title text-center">CREATE AN ACCOUNT
                            <button type="button" class="close" data-dismiss="modal">
                                <span><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                            </button>
                        </h5>
                        <br>

                        <form>
                            <div class="form-group">
                                <input type="name" class="form-control" required autocomplete="off" ng-model="fname">
                                <label class="form-control-placeholder" for="fname">First Name</label>
                            </div>
                            <div class="form-group">
                                <input type="name" class="form-control" required autocomplete="off" ng-model="lname">
                                <label class="form-control-placeholder" for="lname">Last Name</label>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" required autocomplete="off" ng-model="email">
                                <label class="form-control-placeholder" for="email">Email address</label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" required autocomplete="off" ng-model="addr">
                                <label class="form-control-placeholder" for="addr">Full Community Adress</label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" required autocomplete="off" ng-model="pwd1">
                                <label class="form-control-placeholder" for="password">Password</label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" required autocomplete="off" ng-model="pwd2">
                                <label class="form-control-placeholder" for="password">Confirm Password</label>
                            </div>

                            <div class="form-group text-center ">
                                <a href="/terms-conditions/" class="text-secondary">
                                    By Clicking "SIGN UP" you accept our<br>
                                    <span class="text-primary-fau">Terms and Conditions</span>
                                </a>
                            </div>

                            <div class="btn-check-log">
                                <button type="submit" class="btn-check-login">SIGN UP</button>
                            </div>
                            <div class="text-center pt-3">
                                <a href="#" class="text-primary-fau"><span data-toggle="modal" data-target="#sem-login"
                                        data-dismiss="modal">Already Have An Account</span></a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- The Modal -->
        <div class="modal fade" data-backdrop="static" id="sem-login">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal body -->
                    <div class="modal-body">
                        <h5 class="modal-title text-center">LOGIN TO COMMUNITY MANAGER
                            <button type="button" id="close" class="close" data-dismiss="modal">
                                <span><i class="fa fa-times-circle"></i></span>
                            </button>
                        </h5>
                        <br>

                        <form id="loginForm">
                            <div class="form-group">
                                <input type="email" class="form-control" required autocomplete="off" ng-model="email">
                                <label class="form-control-placeholder" for="email">Email address</label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" required autocomplete="off" ng-model="pwd">
                                <label class="form-control-placeholder" for="password">Password</label>
                            </div>
                            <div class="form-group">
                                <label class="container-checkbox">
                                    Remember Me On This Computer
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark-box"></span>
                                </label>
                            </div>

                            <div class="btn-check-log">
                                <button type="button" class="btn-check-login" ng-click="login()">LOGIN</button>
                                <!-- <button type="reset" class="btn-check-login" ng-click="login()">LOGIN</button> -->

                            </div>


                            <div class="text-center pt-3">
                                <a href="/reset_pass" class="text-secondary">Forgot Your Password?</a>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>