<div class="container mt-4">
        <div class="col-12 text-center mx-auto">
                <h6>
                    <label class="col-3 p-0 m-0"><i class="fas fa-envelope text-success opacity round"></i> New</label>
                    <label class="col-4 p-0 m-0"><i class="fas fa-exclamation-circle text-danger opacity round"></i> Important</label>
                    <label class="col-3 p-0 m-0"><i class="fas fa-info-circle text-info opacity round"></i> Info</label>
                </h6>
            </div>
    <div id="msgAccordion" class="accordion">
        <div class="row" ng-repeat="message in messages | filter: filterMessages">
            <!--| filter: filterMessages-->
            <div class="card card-transparent col-10 m-0 p-0 mx-auto border-0 nobg">
                <div class="card-header m-0 p-0 border-0" id="heading{{message.id}}">

                    <button type="button" class="collapsed btn btn-dark round w-100 p-0 " data-toggle="collapse"
                        data-target="#messageCollapse{{message.id}}" ng-click="msgViewed(message)">
                        <h6 class="col-2 float-left">
                                <span class="col-3 text-center float-left">
                                    <label ng-show="notViewed(message)" class="m-0 p-0"><i class="fas fa-envelope text-success"></i></i></label>
                                </span>
                                <span class="col-3 text-center float-left">
                                    <label ng-show="{{message.priority}}" class=" m-0 p-0"><i class="fas fa-exclamation-circle text-danger"></i></label>
                                    <label ng-show="{{!message.priority}}" class="m-0 p-0"><i class="fas fa-info-circle text-primary"></i></label>
                                </span>
                            </h6>
                            <span class="col-7 float-left posted">posted by: {{getUserName(message.userId)}}
                            on: {{message.createDate}}<br>
                            <h6> {{message.subject}} ({{filtered.length}} comment/s)</h6>
                        </span>
                        <h5 class="col-1 text-center float-right"><i class="fas fa-arrow-up    "></i></h5>
                        <h4 class="col-1 text-center text-primary float-right" ng-show="messagesURL() && msgOwner(message)"
                            data-toggle="modal" data-target="#edit-msg" ng-click="editMsg(message)"><i class="fas fa-edit"></i></h4>
                        <h4 class="col-1 text-center text-danger float-right" ng-show="messagesURL() && msgOwner(message)"
                            ng-click="delMessage(message)"><i class="fas fa-trash"></i></h4>
                    </button>
                </div>
                <div id="messageCollapse{{message.id}}" class="collapse col-11 mx-auto" data-parent="#msgAccordion">
                    <div class="card-block mt-2">
                        <p> {{message.details}}</p>
                        <h6>Comments:</h6>
                        <div class="row mx-auto round border-primary" ng-repeat="comment in comments | filter: {messageId:message.id} as filtered">
                            <span class="col-9 float-left posted text-center">posted by:
                                {{getUserName(comment.userId)}} on: {{comment.createDate}}<br>
                                <h6>{{comment.details}}</h6>
                            </span>
                            <h3 class="col-2 text-center text-danger mt-2 float-right" ng-show="messagesURL() && cmntOwner(comment)"
                                ng-click="delComment(comment)"><i class="fas fa-trash"></i></h3>
                        </div>
                        <button type="button" class="btn-check-login col-6 mx-auto bg-info" ng-click="addComment(newComment,message.id)">ADD
                            COMMENT</button>
                        <textarea class="form-control float-right" rows="2" name="comment" id="comment" placeholder="write a comment..."
                            ng-model="newComment"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>