<navbar-cmunty-mngr></navbar-cmunty-mngr>

<h1 class="w-100 text-center"><i class="fa fa-envelope-o"></i> Messages <span class="text-warning" ng-show="newMsgsCount()">({{newMsgsCount()}})</span></h1>
<div class="col-10 text-center mx-auto">
        <a class="btn btn-dark round col-8 opacity" href="javascript:void(0)" data-toggle="modal" data-target="#new-msg"> ADD A NEW MESSAGE<i class="fas fa-pen-alt"></i></a>
    </div>

<messages-view></messages-view>

<!-- The Modal -->
<div class="modal fade seminor-login-modal" data-backdrop="static" id="new-msg">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body seminor-login-modal-body">
                <h5 class="modal-title text-center">ADD A NEW MESSAGE
                    <button type="button" class="close" data-dismiss="modal">
                        <span><i class="fa fa-times-circle text-info" aria-hidden="true"></i></span>
                    </button>
                </h5>
                <form>
                    <div class="form-group">
                        <label class="form-control-placeholder" for="subject">Subject</label>
                        <input type="text" class="form-control" required autocomplete="off" ng-model="subject">
                    </div>
                    <div class="form-group">
                        <label class="form-control-placeholder" for="details">Details</label>
                        <textarea class="form-control" name="details" rows="3" ng-model="details" ng-maxlength="150"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="container-checkbox">
                            Important Message?
                            <input type="checkbox" checked="checked" ng-model="priority">
                            <span class="checkmark-box"></span>
                        </label>
                    </div>
                    <div class="btn-check-log">
                            <button type="button" class="btn-check-login w-100 bg-info" data-dismiss="modal" 
                            ng-click="addMessage(subject, details, priority)">ADD MESSAGE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade seminor-login-modal" data-backdrop="static" id="edit-msg">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
    
                <!-- Modal body -->
                <div class="modal-body seminor-login-modal-body">
                    <h5 class="modal-title text-center">EDIT MESSAGE
                        <button type="button" class="close" data-dismiss="modal">
                            <span><i class="fa fa-times-circle text-info" aria-hidden="true"></i></span>
                        </button>
                    </h5>
                    <form id="editMsgForm">
                        <div class="form-group">
                            <label class="form-control-placeholder" for="subject">Subject</label>
                            <input type="text" class="form-control" required autocomplete="off" ng-model="editedMessage.subject">
                        </div>
                        <div class="form-group">
                            <label class="form-control-placeholder" for="details">Details</label>
                            <textarea class="form-control" name="details" rows="3" ng-model="editedMessage.details" ng-maxlength="150"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="container-checkbox">
                                    Important Message?
                                <input type="checkbox" checked="checked" ng-model="editedMessage.priority">
                                <span class="checkmark-box"></span>
                            </label>
                        </div>
                        <div class="btn-check-log">
                                <button type="button" class="btn-check-login w-100 bg-info" data-dismiss="modal" 
                                ng-click="editMessage()">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>