<div class="container mt-5">
    <div id="issueAccordion" class="accordion">
        <div class="row" ng-repeat="issue in issues | filter: filterissues"> <!--| filter: filterissues-->
            <div class="card col-10 m-0 p-0 mx-auto border-0 nobg">
                <div class="card-header m-0 p-0 border-0" id="heading{{issue.id}}">

                    <button type="button" class="collapsed btn btn-dark w-100 round" data-toggle="collapse"
                        data-target="#issueCollapse{{issue.id}}">
                        <span class="col-9">{{issue.title}}</span><span class="col-3 mx-auto float-right"><i class="fas fa-arrow-up    "></i></span>
                    </button>
                </div>
                <div id="issueCollapse{{issue.id}}" class="collapse col-10 mx-auto" data-parent="#issueAccordion">
                    <div class="card-block mt-2">
                        <label>Details: {{issue.details}}</label>
                        <h6>Comments:</h6>
                        <!-- <div class="row mx-auto round border-primary" ng-repeat="comment in comments | filter: {issueId:issue.id} as filtered">
                            <label class="posted col-3">posted by: <br> {{getUserName(comment.userId)}}
                                <br> on:
                                {{comment.createDate}}</label>
                            <label class="col-9 float-right">{{comment.details}}</label>
                        </div> -->
                        <div class="row mx-auto round border-primary" ng-repeat="comment in comments | filter: {issueId:issue.id} as filtered">
                            <span class="col-9 float-left posted text-center">posted by:
                                {{getUserName(comment.userId)}} on: {{comment.createDate}}<br>
                                <h6>{{comment.details}}</h6>
                            </span>
                            <h3 class="col-2 text-center text-danger mt-2 float-right" ng-show="issuesURL() && cmntOwner(comment)"
                                ng-click="delComment(comment)"><i class="fas fa-trash"></i></h3>
                        </div>

                        <button type="button" class="btn-check-login col-6 mx-auto bg-info" ng-click="addIssueComment(newIssueComment,issue.id)">ADD
                            COMMENT</button>
                        <textarea class="form-control float-right" rows="2" name="issueComment" id="issueComment" placeholder="write a comment..."
                            ng-model="newIssueComment"></textarea>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>