<navbar-cmunty-mngr></navbar-cmunty-mngr>

<div class="container">
    <h1 class="w-100 text-center"><i class="fas fa-bug"></i> issue tracking</h1>
    <div class="col-10 text-center mx-auto">
            <a class="btn btn-warning round col-10" href="javascript:void(0)" data-toggle="modal" data-target="#new-issue"> OPEN A NEW ISSUE <i class="fas fa-bug"></i></a>
        </div>
    <issues-view></issues-view>

<!-- The Modal -->
<div class="modal fade seminor-login-modal" data-backdrop="static" id="new-issue">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body seminor-login-modal-body">
                <h5 class="modal-title text-center">OPEN A NEW ISSUE
                    <button type="button" class="close" data-dismiss="modal">
                        <span><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                    </button>
                </h5>
                <form>
                    <div class="form-group">
                        <label class="form-control-placeholder" for="subject">Subject</label>
                        <input type="text" class="form-control" required autocomplete="off" ng-model="subject">
                    </div>
                    <div class="form-group">
                        <label class="form-control-placeholder" for="details">Details</label>
                        <textarea class="form-control" name="details" rows="3" ng-model="details" ng-maxlength="150"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="container-checkbox">
                            Urgent Issue?
                            <input type="checkbox" checked="checked" ng-model="Urgent">
                            <span class="checkmark-box"></span>
                        </label>
                    </div>
                    <div class="btn-check-log">
                            <button type="button" class="btn-check-login w-100 bg-info" data-dismiss="modal" 
                            ng-click="addIssue(subject, details, priority)">OPEN ISSUE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>