<navbar-cmunty-mngr></navbar-cmunty-mngr>

<h1 class="w-100 text-center"><i class="fa fa-vcard-o"></i> tenants</h1>
<a class="btn btn-primary btn-lg" href="javascript:void(0)" data-toggle="modal" data-target="#new-tnnt">Add tenant </a>
<div class="container mt-5">
    <table class="table table-bordered table-dark m-0 p-0 col-10 mx-auto" ng-repeat="user in users | filter: filterUsers">
        <tr ng-click="toggle=!toggle">
            <td  colspan="2">{{user.fname}} {{user.lname}}<span class="float-right">appartment: {{user.appartment}}</span></td>
        </tr>
        <tr ng-show="toggle">
            <td class="bg-info">
                <h5>Name : {{user.fname}} {{user.lname}}</h5>
                <h5>Email: {{user.email}}</h5>
                <h5>is Committee member: {{user.isCommittee}} </h5>
            </td>
            <td class="text-center">
                <img class="img-thumbnail rounded-circle user-img" src="{{user.image}}">
            </td>
        </tr>
    </table>
</div>

<div class="modal fade" data-backdrop="static" id="new-tnnt">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <h5 class="modal-title text-center">ADD A TENANT
                    <button type="button" class="close" data-dismiss="modal">
                        <span><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                    </button>
                </h5>
                <br>
                <form class="text">
                    <div class="d-flex">
                        <div class="form-group w-40">
                            <label class="form-control-placeholder" for="fname">First Name</label>
                            <input type="name" class="form-control" required autocomplete="off" ng-model="fname">
                        </div>
                        <div class="form-group w-40">
                            <label class="form-control-placeholder" for="lname">Last Name</label>
                            <input type="name" class="form-control" required autocomplete="off" ng-model="lname">
                        </div>
                        <div class="form-group w-20">
                            <label class="form-control-placeholder" for="apprtmntgNum">appartment</label>
                            <input type="text" class="form-control" required autocomplete="off" ng-model="apprtmntgNum">
                        </div>
                    </div>
                    <div class="form-group w-50 float-left">
                        <label class="form-control-placeholder" for="tnntImage">Add picture?</label>
                        <input class="float-left" type="file" name="tnntImage" image-with-preview ng-model="tnntImage"
                            accept="image/jpeg,image/png">
                    </div>
                    <div class="form-group w-50 float-right pr-4 text-center">
                        <img class="float-right img-thumbnail rounded-circle user-img" ng-src="{{tnntImage.src}}" src="https://www.mie.ie/images/user-default.png" />
                    </div>
                    <div class="form-group w-50 float-left">
                        <label class="form-control-placeholder" for="email">Email address</label>
                        <input type="email" class="form-control" required autocomplete="off" ng-model="email">
                    </div>
                    <div class="form-group w-50 float-right">
                        <label class="form-control-placeholder" for="phone">Phone No# (opt)</label>
                        <input type="phonenumber" class="form-control" required autocomplete="off" ng-model="phone">
                    </div>
                    <div class="form-group w-50 float-left">
                        <label class="form-control-placeholder" for="password">Password</label>
                        <input type="password" class="form-control" required autocomplete="off" ng-model="pwd1">
                    </div>
                    <div class="form-group w-50 float-right">
                        <label class="form-control-placeholder" for="password">Confirm Password</label>
                        <input type="password" class="form-control" required autocomplete="off" ng-model="pwd2">
                    </div>
                    <div class="btn-check-log">
                        <button type="button" class="btn-check-login w-100 bg-info" ng-click="addTnnt()">ADD</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>