<navbar-cmunty-mngr></navbar-cmunty-mngr>

<h1 class="w-100 text-center"><i class="fas fa-id-card"></i> tenants</h1>
<div class="col-10 text-center mx-auto">
    <a class="btn btn-dark round col-8" href="javascript:void(0)" data-toggle="modal" data-target="#new-tnnt"> ADD
        TENANT <i class="fas fa-user-plus"></i></a>
</div>
<div class="container mt-4">
    <div id="tnntAccordion" class="accordion">
        <div class="row" ng-repeat="user in users | filter: filterUsers">
            <!--| filter: filterUsers-->
            <div class="card card-transparent col-10 m-0 p-0 mx-auto border-0 nobg">
                <div class="card-header m-0 p-0 border-0" id="heading{{user.id}}">
                    <button type="button" class="collapsed btn btn-dark round w-100 " data-toggle="collapse"
                        data-target="#tnntCollapse{{user.id}}">
                        <span class="col-8 float-left">{{user.fname}} {{user.lname}}</span>
                        </span>
                        <span class="col-2 mx-auto float-right"><i class="fas fa-arrow-up    "></i></span>
                    </button>
                </div>
                <div id="tnntCollapse{{user.id}}" class="collapse col-11 mx-auto transparent" data-parent="#tnntAccordion">
                    <div class="card-block mt-2">
                        <label class="col-6">
                            <span>Name : {{user.fname}} {{user.lname}}</span><br>
                            <span>Email: {{user.email}}</span><br>
                            <span>Phone: {{user.phone}}</span><br>
                            <span class="mx-auto">is Committee member: {{user.isCommittee}} </span><br>
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#edit-tnnt"
                                ng-click="editTnnt(user)"><i class="fas fa-user-edit"></i></button>
                            <button type="button" class="btn btn-primary float-right" ng-click="DeleteUser(user)"><i
                                    class="fas fa-user-times"></i></button>
                        </label>
                        <label class="col-4 float-right">
                            <img class="img-thumbnail rounded-circle user-img" src="{{user.image}}">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="new-tnnt">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <h5 class="modal-title text-center">ADD A TENANT
                    <button type="button" class="close" data-dismiss="modal">
                        <span><i class="fas fa-times-circle text-info" aria-hidden="true"></i></span>
                    </button>
                </h5>
                <br>
                <form id="tnntForm" class="text">
                    <div class="row m-2">
                        <div class="form-group col-4 px-2 m-0">
                            <span><img class="label-icon round nobg" src="/images/user.gif"></span>
                            <label class="form-control-placeholder" for="fname"> First Name</label>
                            <input type="name" class="form-control" required autocomplete="off" ng-model="fname">
                        </div>
                        <div class="form-group col-4 px-2 m-0">
                            <label class="form-control-placeholder" for="lname"> Last Name</label>
                            <input type="name" class="form-control" required autocomplete="off" ng-model="lname">
                        </div>
                        <div class="form-group col-2 px-2 mx-auto">
                            <label class="form-control-placeholder" for="apprtmntgNum"> appartment</label>
                            <input type="text" class="form-control" required autocomplete="off" ng-model="apprtmntgNum">
                        </div>
                    </div>


                    <div class="row m-2">
                        <div class="form-group col-6 px-2 m-0">
                            <span><img class="label-icon round nobg" src="/images/file.gif"></span>
                            <label class="form-control-placeholder" for="tnntImage"> Add picture?</label>
                            <input type="file" name="myImage" image-with-preview ng-model="myImage" accept="image/jpeg,image/png">
                        </div>
                        <div class="form-group col-6 px-2 mx-auto">
                            <img class="img-thumbnail rounded-circle user-img" ng-src="{{myImage.src}}" src="images/users.gif" />
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="form-group col-5 px-2 m-0">
                            <span><img class="label-icon round nobg" src="/images/email.gif"></span>
                            <label class="form-control-placeholder" for="email"> Email address</label>
                            <input type="email" class="form-control" required autocomplete="off" ng-model="email">
                        </div>
                        <div class="form-group col-5 px-2 m-0">
                            <span><img class="label-icon round nobg" src="/images/phone.gif"></span>
                            <label class="form-control-placeholder" for="phone"> Phone No# (opt)</label>
                            <input type="phonenumber" class="form-control" required autocomplete="off" ng-model="phone">
                        </div>
                        <div class="form-group col-2 px-0 mx-auto">
                            <div class="form-group">
                                <label class="form-control-placeholder" for="isCommittee"> Committee?</label>
                                <select type="text" class="form-control" required autocomplete="off" ng-model="isCommittee">
                                    <option>No</option>
                                    <option>Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-2">
                        <div class="form-group px-2 col-5">
                            <span><img class="label-icon round nobg" src="/images/password1.gif"></span>
                            <label class="form-control-placeholder" for="password"> Password</label>
                            <input type="password" class="form-control" required autocomplete="off" ng-model="pwd1">
                        </div>
                        <div class="form-group px-2 col-5">
                            <span><img class="label-icon round nobg" src="/images/password.gif"></span>
                            <label class="form-control-placeholder" for="password"> Confirm Password</label>
                            <input type="password" class="form-control" required autocomplete="off" ng-model="pwd2">
                        </div>
                    </div>
                    <div class="text-center col-10 mx-auto">
                        <button type="button" class="btn-check-login w-100 bg-info" data-dismiss="modal" ng-click="addUser(2)">ADD
                            TENANT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="edit-tnnt">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <h5 class="modal-title text-center">EDIT A TENANT
                    <button type="button" class="close" data-dismiss="modal">
                        <span><i class="fas fa-times-circle text-info" aria-hidden="true"></i></span>
                    </button>
                </h5>
                <br>
                <form id="editTnntForm" class="text">
                    <div class="row m-2">
                        <div class="form-group col-4 px-2 m-0">
                            <span><img class="label-icon" src="/images/user.gif"></span>
                            <label class="form-control-placeholder" for="fname"> First Name</label>
                            <input type="text" class="form-control" name="fname" id="fname" autocomplete="off" ng-model="editedUser.fname">
                        </div>
                        <div class="form-group col-4 px-2 m-0">
                            <label class="form-control-placeholder" for="lname"> Last Name</label>
                            <input type="name" class="form-control" name="lname" autocomplete="off" ng-model="editedUser.lname">
                        </div>
                        <div class="form-group col-2 px-2 mx-auto">
                            <label class="form-control-placeholder" for="apprtmntgNum"> appartment</label>
                            <input type="text" class="form-control" name="appartment" autocomplete="off" ng-model="editedUser.appartment">
                        </div>
                    </div>


                    <div class="row m-2">
                        <div class="form-group col-6 px-2 m-0">
                            <span><img class="label-icon round nobg" src="/images/file.gif"></span>
                            <label class="form-control-placeholder" for="tnntImage"> Add picture?</label>
                            <input type="file" name="myImage" image-with-preview ng-model="myImage" accept="image/jpeg,image/png">
                        </div>
                        <div class="form-group col-6 px-2 mx-auto">
                            <img class="img-thumbnail rounded-circle user-img" id="myImage" name="image" ng-src="{{myImage.src}}"
                                src="{{editedUser.image}}" />
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="form-group col-5 px-2 m-0">
                            <span><img class="label-icon round nobg" src="/images/email.gif"></span>
                            <label class="form-control-placeholder" for="email"> Email address</label>
                            <input type="email" class="form-control" name="email" autocomplete="off" ng-model="editedUser.email">
                        </div>
                        <div class="form-group col-5 px-2 m-0">
                            <span><img class="label-icon round nobg" src="/images/phone.gif"></span>
                            <label class="form-control-placeholder" for="phone"> Phone No# (opt)</label>
                            <input type="phonenumber" class="form-control" name="phone" autocomplete="off" ng-model="editedUser.phone">
                        </div>
                        <div class="form-group col-2 px-0 mx-auto">
                            <div class="form-group">
                                <label class="form-control-placeholder" for="isCommittee"> Committee?</label>
                                <select type="text" class="form-control" name="isCommittee" autocomplete="off" ng-model="editedUser.isCommittee">
                                    <option>No</option>
                                    <option>Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-2">
                        <div class="form-group px-2 col-5">
                            <span><img class="label-icon round nobg" src="/images/password1.gif"></span>
                            <label class="form-control-placeholder" for="password"> Password</label>
                            <input type="password" class="form-control" name="pwd" autocomplete="off" ng-model="pwd1">
                        </div>
                        <div class="form-group px-2 col-5">
                            <span><img class="label-icon round nobg" src="/images/password.gif"></span>
                            <label class="form-control-placeholder" for="password"> Confirm Password</label>
                            <input type="password" class="form-control" name="pwd" autocomplete="off" ng-model="pwd2">
                        </div>
                    </div>
                    <div class="text-center col-10 mx-auto">
                        <button type="button" class="btn-check-login w-100 bg-info" ng-click="editUser()">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>